openstack: &openstack
  provider:      openstack
  auth_service:
    name:        identity
    host_uri:    http://devstack:5000
    request:     create_token
    validator:   list_tenants
    api_version: v2
  
openstack_admin:
  <<: *openstack
  auth_credentials:
    username:   admin
    password:   mypassword
    tenantName: admin

openstack_member:
  <<: *openstack
  auth_credentials:
    username:   nonadmin
    password:   mypassword
    tenantName: nonadminproject
