common: &common
  provider: openstack
  auth_url: http://my.openstack.org:5000/v2.0
  
admin:
  <<: *common
  username: admin
  password: mypassword
  tenantName: admin

non_admin:
  <<: *common
  username: nonadmin
  password: mypassword
  tenantName: nonadminproject
