*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/*.*
!tmp/.gitignore
.DS_Store
test/environment.yml
vcr.log
.ruby-gemset
.ruby-version
*.swp
*.swo
