language: ruby
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
branches:
  only:
    - master
    - develop
    - release
bundler_args: --without development
script:
  - cp test/environment.yml.travis-ci test/environment.yml
  - bundle exec rake
after_script:
  - cat tmp/aviator.log
  - cat tmp/vcr.log
