---
http_interactions:
- request:
    method: post
    uri: <OPENSTACK_ADMIN_HOST_URI>:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"<OPENSTACK_ADMIN_USERNAME>","password":"<OPENSTACK_ADMIN_PASSWORD>"},"tenantName":"<OPENSTACK_ADMIN_TENANTNAME>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"access": {"token": {"issued_at": "2013-09-12T09:53:11.514911",
        "expires": "2013-09-12T15:53:11Z", "id": "4b43e03b03e64d21a2f39e9a41e8f7e0",
        "tenant": {"description": "System account for Morphlabs mCloud administration",
        "enabled": true, "id": "e7b1b62aa1474f758c4974b8be44cf6c", "name": "<OPENSTACK_ADMIN_TENANTNAME>"}},
        "serviceCatalog": [{"endpoints": [{"adminURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c",
        "region": "RegionOne", "internalURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c",
        "id": "6bb597a3738045f4b2c51a7702037cab", "publicURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://mc.la-1-2.morphlabs.net:9292", "region": "RegionOne", "internalURL":
        "http://mc.la-1-2.morphlabs.net:9292", "id": "2985945e07b74103bb2dfef7e426cd43",
        "publicURL": "http://mc.la-1-2.morphlabs.net:9292"}], "endpoints_links": [],
        "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://mc.la-1-2.morphlabs.net:8777",
        "region": "RegionOne", "internalURL": "http://mc.la-1-2.morphlabs[...]
- request:
    method: get
    uri: http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c/os-hosts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b43e03b03e64d21a2f39e9a41e8f7e0
  response:
    status:
      code: 200
      message: 
    headers:
      x-compute-request-id:
      - req-88dc98a9-09c1-44cc-adca-a640b371508e
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"hosts": [{"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "consoleauth"}, {"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "scheduler"}, {"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "conductor"}, {"zone": "nova", "host_name": "cn26.la-1-2.morphlabs.net",
        "service": "compute"}, {"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "cert"}, {"zone": "internal", "host_name": "cn26.la-1-2.morphlabs.net",
        "service": "network"}]}'
  recorded_at: Thu, 12 Sep 2013 09:53:13 GMT
recorded_with: VCR 2.5.0
