---
http_interactions:
- request:
    method: post
    uri: <OPENSTACK_ADMIN_HOST_URI>:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"<OPENSTACK_ADMIN_USERNAME>","password":"<OPENSTACK_ADMIN_PASSWORD>"},"tenantName":"<OPENSTACK_ADMIN_TENANTNAME>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"access": {"token": {"issued_at": "2013-09-12T09:53:14.216662",
        "expires": "2013-09-12T15:53:14Z", "id": "1e5060ccbce04c71a0d01b9eadb0a62a",
        "tenant": {"description": "System account for Morphlabs mCloud administration",
        "enabled": true, "id": "e7b1b62aa1474f758c4974b8be44cf6c", "name": "<OPENSTACK_ADMIN_TENANTNAME>"}},
        "serviceCatalog": [{"endpoints": [{"adminURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c",
        "region": "RegionOne", "internalURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c",
        "id": "6bb597a3738045f4b2c51a7702037cab", "publicURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://mc.la-1-2.morphlabs.net:9292", "region": "RegionOne", "internalURL":
        "http://mc.la-1-2.morphlabs.net:9292", "id": "2985945e07b74103bb2dfef7e426cd43",
        "publicURL": "http://mc.la-1-2.morphlabs.net:9292"}], "endpoints_links": [],
        "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://mc.la-1-2.morphlabs.net:8777",
        "region": "RegionOne", "internalURL": "http://mc.la-1-2.morphlabs[...]
