---
http_interactions:
- request:
    method: post
    uri: <OPENSTACK_ADMIN_HOST_URI>:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"<OPENSTACK_MEMBER_USERNAME>","password":"<OPENSTACK_MEMBER_PASSWORD>"},"tenantName":"<OPENSTACK_MEMBER_TENANTNAME>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"access": {"token": {"issued_at": "2013-12-17T08:26:32.599056",
        "expires": "2013-12-17T14:26:32Z", "id": "4f9e8b4dc4e04555ac33bd36e4e97a35",
        "tenant": {"description": "for aviator tests", "enabled": true, "id": "a528b6d6af894f9babb4f1b02154ee3e",
        "name": "<OPENSTACK_MEMBER_TENANTNAME>"}}, "serviceCatalog": [{"endpoints":
        [{"adminURL": "http://mc.la-1-3.morphlabs.net:8774/v2/a528b6d6af894f9babb4f1b02154ee3e",
        "region": "RegionOne", "internalURL": "http://mc.la-1-3.morphlabs.net:8774/v2/a528b6d6af894f9babb4f1b02154ee3e",
        "id": "83a5fdd3477942d08ee03ea09ac0ae90", "publicURL": "http://mc.la-1-3.morphlabs.net:8774/v2/a528b6d6af894f9babb4f1b02154ee3e"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://mc.la-1-3.morphlabs.net:9292", "region": "RegionOne", "internalURL":
        "http://mc.la-1-3.morphlabs.net:9292", "id": "76042ed1db23403c985c77961a23de0b",
        "publicURL": "http://mc.la-1-3.morphlabs.net:9292"}], "endpoints_links": [],
        "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://mc.la-1-3.morphlabs.net:8777",
        "region": "RegionOne", "internalURL": "http://mc.la-1-3.morphlabs[...]
- request:
    method: get
    uri: http://mc.la-1-3.morphlabs.net:9292/v1/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4f9e8b4dc4e04555ac33bd36e4e97a35
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-openstack-request-id:
      - req-fd5ee3b2-f0ca-4987-8ec7-439fcda8a7ee
    body:
      encoding: US-ASCII
      string: ! '{"images": [{"name": "64Bit Ubuntu 12.04", "container_format": "ovf",
        "disk_format": "qcow2", "checksum": "43d3a9e8bcd6c44366ac4634b8a28648", "id":
        "3d520022-c1c8-439a-a96d-bfe8a0149846", "size": 252116992}]}'
  recorded_at: Tue, 17 Dec 2013 08:26:43 GMT
recorded_with: VCR 2.5.0
