---
http_interactions:
- request:
    method: post
    uri: <OPENSTACK_ADMIN_HOST_URI>:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"<OPENSTACK_ADMIN_USERNAME>","password":"<OPENSTACK_ADMIN_PASSWORD>"},"tenantName":"<OPENSTACK_ADMIN_TENANTNAME>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"access": {"token": {"issued_at": "2013-09-12T10:49:09.714483",
        "expires": "2013-09-12T16:49:09Z", "id": "377edb614c944281867aab9a8ea095d9",
        "tenant": {"description": "System account for Morphlabs mCloud administration",
        "enabled": true, "id": "e7b1b62aa1474f758c4974b8be44cf6c", "name": "<OPENSTACK_ADMIN_TENANTNAME>"}},
        "serviceCatalog": [{"endpoints": [{"adminURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c",
        "region": "RegionOne", "internalURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c",
        "id": "6bb597a3738045f4b2c51a7702037cab", "publicURL": "http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://mc.la-1-2.morphlabs.net:9292", "region": "RegionOne", "internalURL":
        "http://mc.la-1-2.morphlabs.net:9292", "id": "2985945e07b74103bb2dfef7e426cd43",
        "publicURL": "http://mc.la-1-2.morphlabs.net:9292"}], "endpoints_links": [],
        "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://mc.la-1-2.morphlabs.net:8777",
        "region": "RegionOne", "internalURL": "http://mc.la-1-2.morphlabs[...]
[...]
- request:
    method: get
    uri: http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c/os-hosts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4ee993c88e844b2399a2273c205b982c
  response:
    status:
      code: 200
      message: 
    headers:
      x-compute-request-id:
      - req-94f072d7-c9fb-4d13-9ba2-21fd25d35129
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"hosts": [{"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "consoleauth"}, {"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "scheduler"}, {"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "conductor"}, {"zone": "nova", "host_name": "cn26.la-1-2.morphlabs.net",
        "service": "compute"}, {"zone": "internal", "host_name": "mc.la-1-2.morphlabs.net",
        "service": "cert"}, {"zone": "internal", "host_name": "cn26.la-1-2.morphlabs.net",
        "service": "network"}]}'
  recorded_at: Thu, 12 Sep 2013 10:49:13 GMT
- request:
    method: get
    uri: http://mc.la-1-2.morphlabs.net:8774/v2/e7b1b62aa1474f758c4974b8be44cf6c/os-hosts/cn26.la-1-2.morphlabs.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 377edb614c944281867aab9a8ea095d9
  response:
    status:
      code: 200
      message: 
    headers:
      x-compute-request-id:
      - req-5c899e15-422f-4c1d-b61c-a9c09c869185
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"host": [{"resource": {"project": "(total)", "memory_mb": 64427,
        "host": "cn26.la-1-2.morphlabs.net", "cpu": 12, "disk_gb": 1915}}, {"resource":
        {"project": "(used_now)", "memory_mb": 27136, "host": "cn26.la-1-2.morphlabs.net",
        "cpu": 13, "disk_gb": 130}}, {"resource": {"project": "(used_max)", "memory_mb":
        26624, "host": "cn26.la-1-2.morphlabs.net", "cpu": 13, "disk_gb": 130}}, {"resource":
        {"project": "e7b1b62aa1474f758c4974b8be44cf6c", "memory_mb": 4096, "host":
        "cn26.la-1-2.morphlabs.net", "cpu": 2, "disk_gb": 20}}, {"resource": {"project":
        "3ec6ecaff17a41a5bb105a1[...]
